<a href="https://colab.research.google.com/github/ShaziaOngit/Hackathon/blob/main/class_04_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst = [1,2,3,4,5]
lst2=[]
for i in lst:
  lst2.append(i*2)
lst2

[2, 4, 6, 8, 10]

List Comprehension
- [expression for element in iteratable if condition]

In [ ]:
lst = [1,2,3,4,5]
lst2 = [i*2 for i in lst]
lst2

[2, 4, 6, 8, 10]

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [i for i in lst1 if i%2==0]
lst2

[2, 4, 6, 8, 10]

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [i for i in lst1 if i>5]

[4, 16, 36, 64, 100]

In [ ]:
word=["apple","mengo","banana"]
word1 = [w.upper() for w in word]
word1

['APPLE', 'MENGO', 'BANANA']

In [ ]:
dc = {"name":"umer","age":20}
dc

{'name': 'umer', 'age': 20}

In [ ]:
dc = dict(name="umer",age=20)
dc

{'name': 'umer', 'age': 20}

- List
    - Mutable
    - Dynamic
    - Order
    - Indexed
    - Allowed duplicate values
    - Heterogeneous values

- Tuple
  - Immutable
  - Fixed
  - Ordered
  - Indexed
  - Allowed duplicate values
  - Heterogeneous

In [ ]:
t = (1,2,3,3,"Bilal",True,12.33)
t
type(t)
id(t)
print(t)

(1, 2, 3, 3, 'Bilal', True, 12.33)

In [ ]:
t[4]

'Bilal'

In [ ]:
len(t)

7

In [ ]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = (1,2,3,3,"Bilal",True,12.33)
print(id(t))
t = list(t)
t.append(10)
print(t)
t = tuple(t)
print(id(t))
print(t)

135525616542592
[1, 2, 3, 3, 'Bilal', True, 12.33, 10]
135525618469680
(1, 2, 3, 3, 'Bilal', True, 12.33, 10)

In [ ]:
t = (1,2,3,3,"Bilal",True,12.33,[1,2])
print(id(t))
t[7][0]=10
print(id(t))
print(t)

135525618469680
135525618469680
(1, 2, 3, 3, 'Bilal', True, 12.33, [10, 2])

In [ ]:
lst1=[1,2,3,4]
a=1
b=2
c=3
d=4
print(id(lst1))
print(id(lst1[0]))
print(id(a))
print(id(lst1[1]))
print(id(b))
print(id(lst1[2]))
print(id(c))

132923817344704
10750856
10750856
10750888
10750888
10750920
10750920

In [ ]:
t = tuple([1,2,3,4])
t

(1, 2, 3, 4)

In [ ]:
t[1:]

(2, 3, 4)

sets
 - Mutable
 - Unordered
 - Un indexed
 - Don't support duplicate values
 - Heterogeneous
 - Can not store mutable data types

In [ ]:
s={2,3,3,4,"Bilal",True}
print(s)

{True, 2, 3, 4, 'Bilal'}

In [ ]:
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s={2,3,3,4,"Bilal",True,[1,2]}
print(s)

TypeError: unhashable type: 'list'

In [ ]:
s={2,3,3,4,"Bilal",True}
s.add(5)
print(s)

{True, 2, 3, 4, 'Bilal', 5}

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
print(s1.difference(s2))
print(s1-s2)
s1

{1, 2, 6}
{1, 2, 6}

{1, 2, 3, 5, 6, 'Bilal'}

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
s1.difference_update(s2)
print(s1)

{1, 2, 6}

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
s1.discard(31)
s1.remove(51)
print(s1)

KeyError: 51

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
s1.intersection(s2)
print(s1.pop())
lst=[1,2,3,4]
lst.pop(2)
lst

1

[1, 2, 4]

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 'Bilal'}

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 'Bilal'}

In [ ]:
s1={1,2,3,5,6,"Bilal"}
s2={4,5,3,7,"Bilal"}

print(s1.symmetric_difference(s2))
print(s1^s2)

{1, 4, 2, 7, 6}
{1, 4, 2, 7, 6}

In [ ]:
fs = frozenset({1,2,2,3,4})

In [ ]:
name="bilal"
print((name+" ")*5)

bilal bilal bilal bilal bilal

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

In [ ]:
lst=[1,2,3]
print(lst*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a = True
a = [1,2,3]
a = {'a':1}
a = "adfad"
a = 12

a = False
a = []
a = {}
a = 0
a = ""
a = None

if a:
  print("yes")
else:
  print("no")

no

In [ ]:
def my_func(name,age):
  return f"hello my dear {name}, his age is {age}"

print(my_func("gulazari",70))

hello my dear gulazari, his age is 70

In [ ]:
def my_func(*keyword):
  print(keyword)

my_func()

()

In [ ]:
def my_func(*keyword,name):
  print(name)

  print(keyword)

my_func("ratan","chaman",name="gulzari")

gulzari
('ratan', 'chaman')

In [ ]:
def my_func(**keyword):
  print(keyword)

my_func(name="kunj bihari",age=70)

{'name': 'kunj bihari', 'age': 70}