<a href="https://colab.research.google.com/github/ShaziaOngit/Hackathon/blob/main/Num_Int_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_int: int = 45

print(type(num_int)," num_int = ",num_int,)  #

num_int: int = 45

print(type(num_45)," num_45 = ",num_45,)  #

<class 'int'>  num_int =  45

In [ ]:



num_int: int = 45

print(type(num_int)," num_int = ",num_int,)  # prints the type and value of num_int

num_int: int = 45

print(type(num_int)," num_int = ",num_int,)  # prints the type and value of num_int, num_45 was likely a typo so I changed it to num_int

<class 'int'>  num_int =  45
<class 'int'>  num_int =  45

In [ ]:

num_float: float = 3.14
#num_float: float = .14
num_float: float = 3.14
#num_float: float = .14

print(type(num_float), " num_float = ", num_float)  # <class 'float'>  num_float =  0.14

num_float : float =3.14

print (type(num_float), "num_float = ", num_float)  # <class 'float'> num_float =  0.14

<class 'float'>  num_float =  3.14
<class 'float'> num_float =  3.14

In [ ]:
num_complex: complex = 2 + 3j

print(type(num_complex), " num_complex = ", num_complex)

<class 'complex'>  num_complex =  (2+3j)

In [ ]:


z = 3 + 4j

print("Real Part:", z.real)   # Output: 3.0
print("Imaginary Part:", z.imag)  # Output: 4.0

Real Part: 3.0
Imaginary Part: 4.0

In [ ]:
is_python_fun: bool = True  # or False
print(type(is_python_fun), " is_python_fun = ", is_python_fun)

<class 'bool'>  is_python_fun =  True

In [ ]:
text_double: str  = "Hello, Python!"       # Double quotes
text_single: str  = 'Hello, Python!'       # Single quotes
text_multi: str   = '''Hello, Python!'''   # Triple single quotes
text_multi_1: str = """Hello, Python!"""   # Triple double quotes

print(type(text_double), " text_double   = ", text_double)
print(type(text_single), " text_single   = ", text_single)
print(type(text_multi), " text_multi    = ", text_multi)
print(type(text_multi_1), " text_multi_1  = ", text_multi_1)

<class 'str'>  text_double   =  Hello, Python!
<class 'str'>  text_single   =  Hello, Python!
<class 'str'>  text_multi    =  Hello, Python!
<class 'str'>  text_multi_1  =  Hello, Python!

In [ ]:
my_list_1: int = [1, 2, 3, "Java", 3.14, True]

my_list: list = [1, 2, 3, "Python", 3.14, 3+2j]

print(type(my_list_1), " my_list_1 = ", my_list_1)
print(type(my_list), " my_list   =  " + str(my_list))

<class 'list'>  my_list_1 =  [1, 2, 3, 'Java', 3.14, True]
<class 'list'>  my_list   =  [1, 2, 3, 'Python', 3.14, (3+2j)]

In [ ]:

my_tuple: tuple = (1, 2, 3, "AI", 2.71, False, .3 , 3+2j)
print(type(my_tuple), " my_tuple = ", my_tuple)

<class 'tuple'>  my_tuple =  (1, 2, 3, 'AI', 2.71, False, 0.3, (3+2j))

In [ ]:

num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), " num_range = ", num_range.step)
for i in range(1, 10, 2): # we will study loops indepth in classes ahead
  print(i)

1
3
5
7
9

<class 'range'>  num_range =  2
1
3
5
7
9

9

In [ ]:

my_set: set = {1, 2, 33, 4, 4, 5}
print(type(my_set), "my_set = ", my_set)  #

<class 'set'> my_set =  {1, 2, 33, 4, 5}

In [ ]:
python3 --version

NameError: name 'python3' is not defined

In [ ]:
from IPython.display import Image, display
import os

# 1. Specify the correct path to your image file:
#file_path = "Apollo11.jpg"  # If the image is in the current directory
file_path = "images/Apollo11.jpg"  # If the image is in a subdirectory called 'images' or specify full path e.g., /path/to/your/image.jpg"


# 2. Check if the file exists:
if not os.path.exists(file_path):
    raise FileNotFoundError(f"File not found: {file_path}")

# 3. Open and display the image:
with open(file_path, "rb") as image_file:
    image_data = image_file.read()

display(Image(data=image_data))
byte_data: bytes = b"Hello"
print(type(byte_data), " byte_data = ", byte_data)  # <class 'bytes'>

<class 'bytes'>  byte_data =  b'Hello'

In [ ]:
byte_array: bytearray = bytearray([65, 66, 67, 69]) #65=A, 66=B ....decimal number system
print(type(byte_array), " byte_array = ", byte_array)  # <class 'bytearray'>
print(byte_array[0])
print(chr(byte_array[0]))
print("Empty bytearray(): ",bytearray())

<class 'bytearray'>  byte_array =  bytearray(b'ABCE')
65
A
Empty bytearray():  bytearray(b'')

In [ ]:
byte_array: bytearray = bytearray([65, 66, 67, 69])
# Converting the entire bytearray to a string using decode()
print("Decoded string: ", byte_array.decode('utf-8'))  # Output: ABCE

Decoded string:  ABCE

In [ ]:
# Creating a bytearray object
ba: bytearray = bytearray(b"hello")
print("Before: ba = ", ba)

# Modifying the bytearray
ba[0] = 72  # ASCII value of 'H'

print("After: ba = ",ba)  # Output: bytearray(b'Hello')

Before: ba =  bytearray(b'hello')
After: ba =  bytearray(b'Hello')

In [ ]:
mem_view: memoryview = memoryview(b"Operation Badar")
print(type(mem_view), " mem_view = ", mem_view)  # <class 'memoryview'>
print(bytes(mem_view[0:5]))
print( mem_view[6:11] ) #cast it to byte otherwise it will show memory address

<class 'memoryview'>  mem_view =  <memory at 0x7bb6b6dbfb80>
b'Opera'
<memory at 0x7bb6b43684c0>

In [ ]:
x: str = None
y: str = None
z: str = x

#display the data type of x:
print(type(x))
print("value of x = " + str(x) )
print("x == y = ", x == y)
print("id(x) = ", id(x))
print("id(y) = ", id(y))
print("id(z) = ", id(z))
print("x is y = ", x is y)
print("x is z = ", x is z)
print("id(x) is id(z) = ", id(x) is id(z)) # False :( why? you will get the answer in topic 'Integer Literals in Python'
print("id(x) == id(z) = ", id(x) == id(z)) # True
'''
In Python, `==` is the equality operator, which checks if the values of two objects are equal.
On the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.
'''

<class 'NoneType'>
value of x = None
x == y =  True
id(x) =  9691392
id(y) =  9691392
id(z) =  9691392
x is y =  True
x is z =  True
id(x) is id(z) =  False
id(x) == id(z) =  True

'\nIn Python, `==` is the equality operator, which checks if the values of two objects are equal.\nOn the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.\n'

In [ ]:
print("None is None            = ", None is None) # True
print("None == None            = ", None == None) # True
print("None == x               = ", None == x)
print("None is x               = ", None is x)
print("id(None) is id(None)    = ", id(None) is id(None)) # 'is' check memory space sharing
#If number is out of integer literal range -5 to 256 then even the same number are considered as seprate object

None is None            =  True
None == None            =  True
None == x               =  True
None is x               =  True
id(None) is id(None)    =  False

In [ ]:
print("""Variable x, y & z have 'None' value, as we know that 'None' is a singleton object,
meaning that there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represents the same object id in memory.\n""")

x: str = None
y: str = None
z: str = x

print("ID of variable x  = " + str(id(x)))
print("ID of variable y  = " + str(id(y)))
print("ID of variable z  = " + str(id(z)))

print("\nIs variable x & y shares the same memory space? \nThe answer is: " + str(id(x) == id(y)))

Variable x, y & z have 'None' value, as we know that 'None' is a singleton object,
meaning that there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represents the same object id in memory.

ID of variable x  = 9691392
ID of variable y  = 9691392
ID of variable z  = 9691392

Is variable x & y shares the same memory space?
The answer is: True

In [ ]:
if(None):
    print("if block: This line of code will not execute because in Python 'None' is considered False")

print("""Variable x, y & z have 'None' value. As we know, 'None' is a singleton object,
meaning there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represent the same object id in memory.\n""")

x: str = None
y: str = None
z: str = x

print("ID of variable x  = " + str(id(x)))
print("ID of variable y  = " + str(id(y)))
print("ID of variable z  = " + str(id(z)))

print("\nDo variable x & y share the same memory space? \nThe answer is: " + str(id(x) == id(y)))

if not None:
    print("else block: As None is considered False, so this line of code will execute")

Variable x, y & z have 'None' value. As we know, 'None' is a singleton object,
meaning there is only one instance of `None` in the entire Python environment.
So the id(x), id(y) & id(z) represent the same object id in memory.

ID of variable x  = 9691392
ID of variable y  = 9691392
ID of variable z  = 9691392

Do variable x & y share the same memory space?
The answer is: True
else block: As None is considered False, so this line of code will execute

In [ ]:
x: int = 1
y: int = 1
z: int = x

print("Value of x = " + str(x) + ", and id(x) = " + str(id(x))) # when you need to concatinate any thing with string you need to first cast it to str()
print("Value of y = " + str(y) + ", and id(y) = " + str(id(y)))
print("Value of z = " + str(z) + ", and id(z) = " + str(id(z)))
print("id(x) == id(y) = ", id(x) == id(y) )
print("id(x) is id(y) = ", id(x) is id(y) ) # ;)

Value of x = 1, and id(x) = 10750856
Value of y = 1, and id(y) = 10750856
Value of z = 1, and id(z) = 10750856
id(x) == id(y) =  True
id(x) is id(y) =  False

In [ ]:
x = -6
y = -6
z = x

print("Value of x = " + str(x) + ", and id(x) = " + str(id(x)))
print("Value of y = " + str(y) + ", and id(y) = " + str(id(y)))
print("Value of z = " + str(z) + ", and id(z) = " + str(id(z)))

print("\n ===================== \n")

a = 257
b = 257
c = a

print("Value of x = " + str(a) + ", and id(a) = " + str(id(a)))
print("Value of y = " + str(b) + ", and id(b) = " + str(id(b)))
print("Value of z = " + str(c) + ", and id(c) = " + str(id(c)))

Value of x = -6, and id(x) = 136024637754960
Value of y = -6, and id(y) = 136024637754704
Value of z = -6, and id(z) = 136024637754960

 =====================

Value of x = 257, and id(a) = 136024637755728
Value of y = 257, and id(b) = 136024637754608
Value of z = 257, and id(c) = 136024637755728

In [ ]:
shark1_age = 300
shark2_age = 300

print("Value of shark1_age = " + str(shark1_age) + ", and id(shark1_age) = " + str(id(shark1_age)))
print("Value of shark2_age = " + str(shark2_age) + ", and id(shark2_age) = " + str(id(shark2_age)))

# Comparison by value
if shark1_age == shark2_age:
    print("shark1_age & shark2_age have same age")
else:
    print("shark1_age & shark2_age have different age")

print(" ===================== ")

# Comparison by identity
if id(shark1_age) == id(shark2_age):
    print("shark1_age & shark2_age have same id")
else:
    print("shark1_age & shark2_age have different id")

Value of shark1_age = 300, and id(shark1_age) = 136024637756112
Value of shark2_age = 300, and id(shark2_age) = 136024637756272
shark1_age & shark2_age have same age
 =====================
shark1_age & shark2_age have different id

In [ ]:
i: int = 10
print("Value of i = " + str(i) + ",     Type of i = " + str(type(i)))

j: float = 20.6

f: float = i + j #Implicit Type Casting
print("Value of f = " + str(f) + ",   Type of f = " + str(type(f)))

f1: float = 66.89
print("Value of f1 = " + str(f1) + ", Type of i = " + str(type(f1)))

i1: int = int(f1) #When ever you type cast a float value into an integer it truncate
             #the decimal part and only keeps the whole number
print("Value of i1 = " + str(i1) + ",    Type of i = " + str(type(i1)))

s: str = "25.8"
f2: float = float(s)
print("Value of f2 = " + str(f2) + ",  Type of i = " + str(type(f2)))

#uncomment the below line of code to see error
#i2 = int(s) #correct this error by casting with float()
#print("Value of i2 = " + str(i2) + ", Type of i = " + str(type(i2)))

Value of i = 10,     Type of i = <class 'int'>
Value of f = 30.6,   Type of f = <class 'float'>
Value of f1 = 66.89, Type of i = <class 'float'>
Value of i1 = 66,    Type of i = <class 'int'>
Value of f2 = 25.8,  Type of i = <class 'float'>

In [ ]:
k: int = -9 #Any number either positive or negative, beside '0' ZERO is considered True
b: bool = bool(k)
print("Value of b = " + str(b) + ", Type of b = " + str(type(b)))

print("\n =================== \n")

if(k):
  print("""if block: This line of code will execute if we provide any integer value
          other then '0' ZERO""")
else:
  print("else block: As '0' is considered False, so this line of code will not execute")

print("\n =================== \n")

print("check: bool(\"55\")             = ", bool("55"))
print("check: bool(\"\")               = ", bool(""))
print("check: bool([1, 2, 3])        = ", bool([1, 2, 3]))
print("check: bool({\"key\", \"value\"}) = ", bool({"key", "value"}))

#Note: we will learn about list and dictionary in up comming classes
print("check: bool([])               = ", bool([])) #[] square brackets used to represent list
print("check: bool({})               = ", bool({})) #{} curly brackets used to represent dictionary

Value of b = True, Type of b = <class 'bool'>

 ===================

if block: This line of code will execute if we provide any integer value
          other then '0' ZERO

 ===================

check: bool("55")             =  True
check: bool("")               =  False
check: bool([1, 2, 3])        =  True
check: bool({"key", "value"}) =  True
check: bool([])               =  False
check: bool({})               =  False

In [ ]:
age: int = 20
weight: float = 66.89
print("check: isinstance(age, int)      = ", isinstance(age, int))
print("check: isinstance(weight, int)   = ", isinstance(weight, int))
print("check: isinstance(weight, float) = ", isinstance(weight, float))

check: isinstance(age, int)      =  True
check: isinstance(weight, int)   =  False
check: isinstance(weight, float) =  True